@using Mts.Domain;
@model List<Products>
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div id="content">
        <div class="offers">
            <h2>Специальные предложения</h2>
            @showRandomItems(Model, 1)

        </div>

        <div class="offers">
            <h2>Новинки</h2>
            @showRandomItems(Model, 2)
        </div>

        <div class="offers">
            <h2>Хиты продаж</h2>
            @showRandomItems(Model, 3)
        </div>
    </div>

    <div id="news">
        <h2>Новости и акции</h2>
        <p>
        <p>28.03.2016</p>
        В МТС начались продажи двух новых 4G-смартфонов Huawei – G8 и GR5
        В салонах и интернет-магазине МТС появились две свежие модели от бренда Huawei – G8 и GR5.
        </p>
        <hr />
        <p>
        <p>24.03.2016</p>
        МТС снизил цены на 4G-смартфоны Lenovo
        МТС снизил цены на 4G-смартфоны Lenovo – бюджетный A2010 и долгоиграющий P70-A
        </p>
        <hr />
        <p>
        <p>18.03.2016</p>
        В МТС стартовали официальные продажи новых флагманских смартфонов Samsung
        МТС объявил о начале официальных продаж долгожданных новинок от компании Samsung – флагманских моделей Galaxy S7 и Galaxy S7 edge. В рамках акции «Все включено» оба смартфона можно приобрести в беспроцентную рассрочку на год
        </p>
    </div>
</body>
</html>



@helper showRandomItems(List<Products> products, int randomizer)
{
Random rand = new Random(DateTime.Now.Second+randomizer);
List<int> listOfInt = new List<int>();
int val;
while (listOfInt.Count < 3)
{
    if (products.Count <= 3)
    {
        for (int i = 0; i < products.Count; i++)
        {
            listOfInt.Add(i);
        }

    }
    val = rand.Next(0, products.Count);
    if (listOfInt.Any(x => x.Equals(val)))
    {
        continue;
    }
    else
    {
        listOfInt.Add(val);
    }
}
for(int i=0; i<listOfInt.Count; i++)
{
    Html.RenderPartial("ProductSummary", products[listOfInt[i]]);
}

}


