@using Mts.Domain;
@model List<Products>

@{
    ViewBag.Title = "ListByCategory";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="offers">
        <h2>@Model.First().ProductTypes.Name</h2>
        @showItem(Model)
    </div>
</body>
</html>

@helper showItem(List<Products> products)
{
    <ol class="offers">
        @foreach (var item in Model)
        {
            <li>@item.Brands.Name (@item.ModelName)</li>
        }
    </ol>
}

