@model IQueryable<string>

<div id="category_container">
    @foreach(string category in Model)
    {
        @Html.RouteLink(category,
    new { controller = "Home", action = "ListByCategory", category = category },
    new { @class = category == ViewBag.SelectedCategory ? "selected" : null });  
        @*<div class="category">@category</div>*@
        //SELECTEDCATEGORY DOBAVIT!!!!!!!!!!!
    }
</div>

