@model Mts.Domain.Products

@{
    ViewBag.Title = "EditProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>

<div class="editor">
  

    @using (Html.BeginForm(new {action = "EditProduct", controller="admin" }))
    {
        <div class="editor-label">
            <label>Category</label>
        </div>
        <div class="editor-field">
            @*@Html.DropDownList("Type", Model.ProductTypes.Name)*@
            @Html.DropDownListFor(x => x.TypeID, (SelectList)ViewBag.Type)
        </div>

        <div class="editor-label">
            <label>Brand</label>
        </div>
        <div class="editor-field">
            @*@Html.DropDownList("Brand", Model.Brands.Name)*@
            @Html.DropDownListFor(x=>x.BrandID, (SelectList)ViewBag.Brand)
        </div>

        @Html.EditorForModel()
        <input type="submit" value="Save" />        
    }

    @using (Html.BeginForm("UploadImage", "Admin", FormMethod.Post, new {enctype="multipart/form-data"}))
    {
        <input type="file" name="file"/>
        <input type="submit" value="Ok"/>
    }
    @Html.ActionLink("Cancel and return to List", "Index")
</div>
