@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>
<div class="editor">
    @Html.EditorForModel()

    @using (Html.BeginForm())
    {
        <input type="submit" value="Save" />        
    }
    @Html.ActionLink("Cancel and return to List", "Index")

</div>

