@model Mts.Domain.ProductTypes

@{
    ViewBag.Title = "EditType";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="editor">

    @using (Html.BeginForm("EditType", "admin"))
    {
        @Html.EditorForModel()
        <input type="submit" value="Save" />
    }
    @Html.ActionLink("Cancel and return to List", "Index")

</div>

