@model IEnumerable<Mts.Domain.Products>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>
<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"
        type="text/javascript"></script>


@using (Ajax.BeginForm("List", new {table="products"}, new AjaxOptions {UpdateTargetId = "results" }))
{
    <input type="submit" value="Products">
}

<div id="results">

</div>

