@model IEnumerable<Mts.Domain.Products>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>
<div id="errors">
    <p>@TempData["error"]</p>
    <p>@TempData["error2"]</p>
    <p>@TempData["message"]</p>
</div>


<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"
        type="text/javascript"></script>

<div id="buttons_area">
    @using (Ajax.BeginForm("List", new { table = "products" }, new AjaxOptions { UpdateTargetId = "results" }))
    {
        <input type="submit" value="Products">
    }
    @using (Ajax.BeginForm("List", new { table = "brands" }, new AjaxOptions { UpdateTargetId = "results" }))
    {
        <input type="submit" value="Brands">
    }
    @using (Ajax.BeginForm("List", new { table = "types" }, new AjaxOptions { UpdateTargetId = "results" }))
    {
        <input type="submit" value="Categories">
    }
</div>
<div id="results">

</div>

