
body {
    background: #e9e3e3;
    color: #000000;
    font: normal 11px 'TruthCYR_Regular', Arial, sans-serif;
    font-size: 12px;
        
}

#container {
    background: #e9e3e3;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 900px;
    height: auto;
}

#header {
    background: #e9ea98;
    height: 50px;
    width: 900px;
}

#navigation {
    background: #5f5858;
    width: 900px;
    height: 20px;
    margin-bottom: 5px;
}
#baner{
    width:900px;
    height:290px;
    clear:both;
    margin-top: 5px;
    margin-bottom:5px;
}
#news {
    background: #ead19d;
    float: right;
    width: 200px;
    height: auto;
    margin-bottom: 0px;
}

#content {
    background: #d2d0d2;
    float: left;
    width: 695px;
    height: auto;
    margin-bottom: 0px;
}

#clear {
    height: 0px;
    margin: 0px 0px 0px 0px;
    clear: both;
}

#footer {
    margin-top: 0px;
    background: #484444;
    height: 80px;
    width: 900px;
    margin-top: 5px;
    display:inline-block;
    border-collapse:collapse;
}
#footer a{
    text-decoration:none;
    font-size:14px;
    color: #cacdd5;
}
#footer a:hover{
    background-color:red;
}
#FooterLinks{
    height:100%;
    width:15%;
    text-align:justify;
    float: left;    
}
#FooterInfo{
    height:90%;
    width:38%;
    float:right;
}
#FooterInfo p{
    margin-top:5px;
    margin-bottom:5px;
}
#FooterAddress{
    height:100%;
    width:38%;
    margin:0;
    float:left;
}
#FooterAddress p{
    text-align:left;
}

h2 {
    margin: 0px;
}
/*!!!!!!!!!!!!!!!!!!!!!  nav styles*/
#category_container {
    display: flex;
    padding: 0px 10px;
    line-height: 20px;
    justify-content: space-between;
    text-align: justify;
    text-align-last: justify;
}

#category_container a{
    text-decoration:none;
    display: inline-block;
    font-size: 12px;
    color: #e9e3e3;
}
#category_container a:hover{
    background-color: #808080
}
#category_container a.selected{
    background-color: red;    
}

/* index   offers  */
/*div.offers {
    height: auto;
    overflow: auto;
    border: 1px solid #25fc04;
    padding: 0;
    padding-bottom:1px;
}*/
#productSummary{
    padding:0px;
    text-align: left;
    display: inline-block;
    margin-left:4px;
    float: left;
    width:220px;
    height: 130px;      
    margin-bottom: 4px;
    border: 1px solid silver;   
    border-collapse: collapse 
}
#summaryText{    
    border-left: 1px solid silver;
    font-size:10px;
    width:107px;
    height:130px;
    float:right;
   
}
#summaryText h2{
    font-size:14px;
    font-weight:600;
    margin:0 0;
}
#summaryImg{
    float:left;
    width:110px;
    height: 130px;
    border: 1px solid silver ;
    background-color: silver;
    text-align:left;
}
#summaryImg img{
     margin-top: 15px;
     
}

div.offers {
    height: auto;
    overflow: auto;
    border: 1px solid #25fc04;
    padding: 0;
    padding-bottom:1px;
    border-collapse: collapse;
}
/*ol.offers {
    margin: 0 0 0 0;
    padding: 0px;
}

    ol.offers li {
        padding: 0px;
        text-align: center;
        display: inline-block;
        margin-left: 4px;
        float: left;
        width: 227px;
        height: 130px;
        margin-bottom: 0px;
    }

        ol.offers li:first-child {
            margin-left: 0px;
            border-right: 1px solid rgba(118, 108, 108, 0.78);
            float: left;
        }

        ol.offers li:last-child {
            margin-right: 0px;
            border-left: 1px solid rgba(118, 108, 108, 0.78);
            float: right;
        }*/
div.offers h2{
    margin:10px;
    font-weight:bold;
    font-size: 20px;
    border: none;
}

