<div id="FooterLinks">
    <ul>
        <li><a href="http://vk.com/id10754200">VK</a></li>
        <li><a href="http://iconosquare.com/gorbel_alex">Instagram</a></li>
        <li><a href="https://twitter.com/?lang=ru">Twitter</a></li>
        <li><a href="https://ok.ru/">OK</a></li>
    </ul>
    
</div>



<div id="FooterAddress">
    <p>
        © 2002—2016 СООО «Мобильные ТелеСистемы». 220043, г. Минск пр. Независимости, 95
        Лицензия МСиИ РБ №926 от 30.04.2004, действительна до 30.04.2022. В торговом реестре с 15 мая 2012 г.
    </p>
</div>



<div id="FooterInfo">

    <p>
        <span class="call-number quick">210</span>
        <span class="separate"></span>
        <span class="call-number">+375 (29) <strong>545-00-00</strong></span>
        <em>Бесплатно для абонентов МТС</em>
    </p><p>
        <span class="call-number">+375 (17) 237-98-97</span>
        <em>Городской номер</em>
    </p>
    Время обработки заказов: ежедневно 9:00—21:00.
    Оформить заказ можно ежедневно, круглосуточно.

</div>
