@model IEnumerable<Mts.Domain.ProductTypes>
@{
    var first = Model.FirstOrDefault();
}
<table class="grid">
    <thead>
        <tr>
            <th>@Html.LabelFor(x => first.Name)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@Html.RouteLink("Edit", new { controller = "admin", action = "Edit", id = item.ID, table = "types" })</td>  
            </tr>
        }
    </tbody>
</table>
@Html.RouteLink("Create new product", new { controller = "admin", action = "edit", id = "0", table = "types" }, new { @class = "createLink" })