@model Mts.Domain.Products
<div id="productSummary">
    <div id="summaryImg">
        <img width="50", height="100" src="http://shop.mts.by/upload/resize_cache/iblock/7ff/90_180_1/galaxy-s7_gallery_front_silver.png" />
    </div>
    <div id="summaryText">
        <h2>@Model.Brands.Name</h2>
        <h2>@Model.ModelName</h2>
        <h3>@Model.Description</h3>
        <h3>@Model.Price$</h3>
    </div>
</div>
